/*MAIN StyleSheet*/
*{
    box-sizing:border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }

body{
    margin:0;
    background-color: rgb(239,234,204);
}

header, footer{
    background-color:rgb(78,32,8);
    color:white;
}
/***************************************************************************************************/
h2 {
    color: rgb(75,73,52);
}

fieldset {
    border:0;
    width: 100%;
}
legend{
    color:black;
    font-size:20px;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul{
    list-style:none;
    padding-left:0;

}

#coordonnees li {
    margin:15px;
}
#coordonnees label{
    display:inline-block;
    width:10%;
}
#coordonnees input{
    height:40px;
    width:60%;
    border-radius:15px;
}

#reservation input{
    height:40px;
    width:50%;
    border-radius:15px;
}


#reservation ul{
    margin-left:25%;
}


#reservation li {
    margin:5px;
}

#reservation label{
    width:30%;
    display:inline-block;
    min-width:100px;
}

clear{:both;
    max-width:100%;
}


textarea{
    width:30%;
    vertical-align: top;
    height: 150px;
    border-radius:15px;
}

#textarea{
    margin:15px 0;
}

#submit{
    margin:30px;
    width:100px;
    height:30px;
    font-weight:bold;
}

#banniere {
    border-radius: 15px;
}
/*********************************************************************************/
/* système de grille*/

[class*="col-"] {
    width: 100%;
    padding: 0 0;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


/* HEADER*/

/*MENU HAMBURGER*/

#menu-hamburger {
    padding:10px 0;
}
.menu-btn span {
    width: 50px;
    height:3px;
    display:block;
    background-color:#fff;
    margin:8px;
}


.noshow{
    display:none;
}

nav ul{
    list-style:none;
    padding:0;
    color: white;
    text-decoration:none;
    margin:0;
}

nav ul li{
    border-top:1px solid white;
    display:block;
    height:50px;
    line-height:50px;
}

nav ul li a{
    color: white;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    width:100%;
    padding-left:5px;
    display:block;
}

nav ul li a:hover{
    background-color:rgb(162,54,7);
}

/* MAIN */
main{
    padding:1%;
}

img{
    max-width:100%;
}

/* FOOTER*/
footer{
    height:50px;
    padding:10px;
    text-transform:uppercase;
    text-align:center;
    vertical-align:bottom;
}
/*************************************************************************************************************************************/
/*DESKTOP DEVICES*/
/*************************************************************************************************************************************/
@media (min-width: 960px) {

/*SYSTEME DE GRILLES********************************************************************************************/

/**on divise la largeur de l'écran en 12 colonnes. Chaque colonne occupe un douzième de la page**************/

/*largeur d'1 colonne*/
.col-1 {width: 8.33%;}

/*largeur de 2 colonnes*/
.col-2 {width: 16.66%;}

/*largeur de 3 colonnes*/
.col-3 {width: 25%;}

/*largeur de 4 colonnes*/
.col-4 {width: 33.33%;}

/*largeur de 5 colonnes*/
.col-5 {width: 41.66%;}

/*largeur de 6 colonnes*/
.col-6 {width: 50%;}

/*largeur de 7 colonnes*/
.col-7 {width: 58.33%;}

/*largeur de 8 colonnes*/
.col-8 {width: 66.66%;}

/*largeur de 9 colonnes*/
.col-9 {width: 75%;}

/*largeur de 10 colonnes*/
.col-10 {width: 83.33%;}

/*largeur de 11 colonnes*/
.col-11 {width: 91.66%;}

/*largeur de 12 colonnes*/
.col-12 {width: 100%;}
/**on aligne les colonnes les unes à côté des autres avec la propriété float**************/
[class*="col-"] {
    float: left;
    padding: 0 15px;
}

/**
    chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float
    et éviter que les éléments suivants remontent et entourent le "row"

**/
.row:after {
    content: "";
    clear: both;
    display: block;
}
/*END SYSTEME DE GRILLES*************************************************************************************/
    .noshow{
        display: block;

    }

    .menu-btn {
        display: none;
    }

}
/*************************************************************************************************************************************/
/*MEDIUM DEVICES*/
/*************************************************************************************************************************************/
@media (min-width: 768px) {

    /*SYSTEME DE GRILLES********************************************************************************************/

    /**on divise la largeur de l'écran en 12 colonnes. Chaque colonne occupe un douzième de la page**************/

    /*largeur d'1 colonne*/
    .col-m-1 {width: 8.33%;}

    /*largeur de 2 colonnes*/
    .col-m-2 {width: 16.66%;}

    /*largeur de 3 colonnes*/
    .col-m-3 {width: 25%;}

    /*largeur de 4 colonnes*/
    .col-m-4 {width: 33.33%;}

    /*largeur de 5 colonnes*/
    .col-m-5 {width: 41.66%;}

    /*largeur de 6 colonnes*/
    .col-m-6 {width: 50%;}

    /*largeur de 7 colonnes*/
    .col-m-7 {width: 58.33%;}

    /*largeur de 8 colonnes*/
    .col-m-8 {width: 66.66%;}

    /*largeur de 9 colonnes*/
    .col-m-9 {width: 75%;}

    /*largeur de 10 colonnes*/
    .col-m-10 {width: 83.33%;}

    /*largeur de 11 colonnes*/
    .col-m-11 {width: 91.66%;}

    /*largeur de 12 colonnes*/
    .col-m-12 {width: 100%;}
    /**on aligne les colonnes les unes à côté des autres avec la propriété float**************/
    [class*="col-"] {
        float: left;
        padding: 0 15px;
    }

    /**
        chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float
        et éviter que les éléments suivants remontent et entourent le "row"

    **/
    .row:after {
        content: "";
        clear: both;
        display: block;
    }
    /*END SYSTEME DE GRILLES*************************************************************************************/
}